
bthangtuan/
ColorLine/.vs/ColorLine/v16/.suo
ColorLine/.vs/ColorLine/v16/Browse.VC.db
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/20b73329116edf47/DRAW.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/34755ca02d0fb84/GAMEPLAYCTRL.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/3940be6f3ca4686e/MAIN.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/4462436617979315/BUTTON.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/4a4506937196a4ce/MAIN.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/4aef33ed3da9b958/COLORLINE.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/64e794c0a005a405/GAMEPLAYCTRL.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/64eb315e10521a9b/CUSTOMTEXTURE.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/785f56aded73baa5/SDL_FUNC.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/90789e87b170f664/MAIN.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/929b0a0ce4e63555/HEADER.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/96c4f6ded99fb72b/TEXTMANAGER.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/cfe7b9db61ec3dfc/TEXTFUNC.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/fef41a8fc07c2340/GAMEMANAGER.ipch
ColorLine/ColorLine.sln
ColorLine/Debug/Main.obj
ColorLine/Debug/MuseDash.Build.CppClean.log
ColorLine/Debug/MuseDash.exe.recipe
ColorLine/Debug/MuseDash.log
ColorLine/Debug/MuseDash.pdb
ColorLine/Debug/MuseDash.tlog/CL.command.1.tlog
ColorLine/Debug/MuseDash.tlog/CL.read.1.tlog
ColorLine/Debug/MuseDash.tlog/CL.write.1.tlog
ColorLine/Debug/MuseDash.tlog/link-cvtres.read.1.tlog
ColorLine/Debug/MuseDash.tlog/link-cvtres.write.1.tlog
ColorLine/Debug/MuseDash.tlog/link-rc.read.1.tlog
ColorLine/Debug/MuseDash.tlog/link-rc.write.1.tlog
ColorLine/Debug/MuseDash.tlog/link.13040-cvtres.read.1.tlog
ColorLine/Debug/MuseDash.tlog/link.13040-cvtres.write.1.tlog
ColorLine/Debug/MuseDash.tlog/link.13040-rc.read.1.tlog
ColorLine/Debug/MuseDash.tlog/link.13040-rc.write.1.tlog
ColorLine/Debug/MuseDash.tlog/link.13040.read.1.tlog
ColorLine/Debug/MuseDash.tlog/link.13040.write.1.tlog
ColorLine/Debug/MuseDash.tlog/link.command.1.tlog
ColorLine/Debug/MuseDash.tlog/link.read.1.tlog
ColorLine/Debug/MuseDash.tlog/link.write.1.tlog
ColorLine/Debug/MuseDash.tlog/MuseDash.lastbuildstate
ColorLine/Debug/MuseDash.tlog/unsuccessfulbuild
ColorLine/Debug/MuseDash.vcxproj.FileListAbsolute.txt
ColorLine/Debug/vc142.idb
ColorLine/Debug/vc142.pdb
ColorLine/libtiff-5.dll
ColorLine/libwebp-7.dll
ColorLine/MuseDash.vcxproj
ColorLine/MuseDash.vcxproj.filters
ColorLine/MuseDash.vcxproj.user
ColorLine/SDL2.dll
ColorLine/SDL2_image.dll
ColorLine/SDL2_ttf.dll
ColorLine/x64/Debug/Button.obj
ColorLine/x64/Debug/ColorLine.exe
ColorLine/x64/Debug/ColorLine.exe.recipe
ColorLine/x64/Debug/ColorLine.ilk
ColorLine/x64/Debug/ColorLine.obj
ColorLine/x64/Debug/ColorLine.pdb
ColorLine/x64/Debug/ColorLine.tlog/CL.command.1.tlog
ColorLine/x64/Debug/ColorLine.tlog/CL.read.1.tlog
ColorLine/x64/Debug/ColorLine.tlog/CL.write.1.tlog
ColorLine/x64/Debug/ColorLine.tlog/ColorLine.lastbuildstate
ColorLine/x64/Debug/ColorLine.tlog/link.command.1.tlog
ColorLine/x64/Debug/ColorLine.tlog/link.read.1.tlog
ColorLine/x64/Debug/ColorLine.tlog/link.write.1.tlog
ColorLine/x64/Debug/CustomTexture.obj
ColorLine/x64/Debug/draw.obj
ColorLine/x64/Debug/GameManager.obj
ColorLine/x64/Debug/GameplayCtrl.obj
ColorLine/x64/Debug/Main.obj
ColorLine/x64/Debug/Minecraft.ttf
ColorLine/x64/Debug/MuseDash.log
ColorLine/x64/Debug/MuseDash.vcxproj.FileListAbsolute.txt
ColorLine/x64/Debug/SDL2.dll
ColorLine/x64/Debug/SDL2_image.dll
ColorLine/x64/Debug/SDL2_ttf.dll
ColorLine/x64/Debug/SDL_Func.obj
ColorLine/x64/Debug/TextFunc.obj
ColorLine/x64/Debug/vc142.idb
ColorLine/x64/Debug/vc142.pdb
ColorLine/x64/Debug/whitePixel.png
ConsoleApplicationTEST/.vs/ConsoleApplicationTEST/v16/.suo
ConsoleApplicationTEST/.vs/ConsoleApplicationTEST/v16/Browse.VC.db
ConsoleApplicationTEST/.vs/ConsoleApplicationTEST/v16/ipch/AutoPCH/2b3f758509d59b93/TEST.ipch
ConsoleApplicationTEST/.vs/ConsoleApplicationTEST/v16/ipch/AutoPCH/6c3a402c157e439e/CONSOLEAPPLICATIONTEST.ipch
ConsoleApplicationTEST/ConsoleApplicationTEST.cpp
ConsoleApplicationTEST/ConsoleApplicationTEST.sln
ConsoleApplicationTEST/ConsoleApplicationTEST.vcxproj
ConsoleApplicationTEST/ConsoleApplicationTEST.vcxproj.filters
ConsoleApplicationTEST/ConsoleApplicationTEST.vcxproj.user
ConsoleApplicationTEST/Debug/ConsoleA.285dd6e1.tlog/CL.command.1.tlog
ConsoleApplicationTEST/Debug/ConsoleA.285dd6e1.tlog/CL.read.1.tlog
ConsoleApplicationTEST/Debug/ConsoleA.285dd6e1.tlog/CL.write.1.tlog
ConsoleApplicationTEST/Debug/ConsoleA.285dd6e1.tlog/ConsoleApplicationTEST.lastbuildstate
ConsoleApplicationTEST/Debug/ConsoleA.285dd6e1.tlog/link.command.1.tlog
ConsoleApplicationTEST/Debug/ConsoleA.285dd6e1.tlog/link.read.1.tlog
ConsoleApplicationTEST/Debug/ConsoleA.285dd6e1.tlog/link.write.1.tlog
ConsoleApplicationTEST/Debug/ConsoleApplicationTEST.exe
ConsoleApplicationTEST/Debug/ConsoleApplicationTEST.exe.recipe
ConsoleApplicationTEST/Debug/ConsoleApplicationTEST.ilk
ConsoleApplicationTEST/Debug/ConsoleApplicationTEST.log
ConsoleApplicationTEST/Debug/ConsoleApplicationTEST.obj
ConsoleApplicationTEST/Debug/ConsoleApplicationTEST.pdb
ConsoleApplicationTEST/Debug/ConsoleApplicationTEST.vcxproj.FileListAbsolute.txt
ConsoleApplicationTEST/Debug/Test.obj
ConsoleApplicationTEST/Debug/vc142.idb
ConsoleApplicationTEST/Debug/vc142.pdb
ConsoleApplicationTEST/Test.cpp
ConsoleApplicationTEST/Test.h
ColorLine/.vs/ColorLine/v16/Browse.VC.db-shm
ColorLine/.vs/ColorLine/v16/Browse.VC.db-wal
ColorLine/.vs/ColorLine/v16/Browse.VC.opendb
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/8c3fd958f932ea7e/GLOBAL.ipch
ColorLine/x64/Debug/Global.obj
ColorLine/SDL2_mixer.dll
ConsoleApplicationTEST/.vs/ConsoleApplicationTEST/v16/Browse.VC.db-shm
ConsoleApplicationTEST/.vs/ConsoleApplicationTEST/v16/Browse.VC.db-wal
ConsoleApplicationTEST/.vs/ConsoleApplicationTEST/v16/Browse.VC.opendb
ConsoleApplicationTEST/.vs/ConsoleApplicationTEST/v16/ipch/AutoPCH/ce52e1778774800/1.A.ipch
ColorLine/x64/Debug/GlobalGame.obj
ColorLine/x64/Debug/Game.obj
ColorLine/x64/Debug/ColorLine.tlog/unsuccessfulbuild
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/938674345d9c6c03/GAME.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/517cefe4f7756872/TEST_CLASS.ipch
ColorLine/x64/Debug/TEST_CLASS.obj
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/67c1badadb2e5e04/UIMANAGER.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/87d5cec3fe9d7ab6/MAINMENUCTRL.ipch
ColorLine/x64/Debug/MainMenuCtrl.obj
ColorLine/x64/Debug/UIManager.obj
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/38cc3082e12a65a2/MESSAGEWINDOW.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/c5e82bd9de9cb417/MESSAGEWINDOW.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/f2a3a1f3606c456f/BLOOMEFFECT.ipch
ColorLine/x64/Debug/BloomEffect.obj
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/31dd7768e1d88dd1/LABELANDTEXTWINDOW.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/37d05981cd5ff82/CUSTOMWINDOW.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/a8af6a85ef5bb69e/WINLOSEWINDOW.ipch
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/f05f174d05998c3a/GAMETIMER.ipch
ColorLine/x64/Debug/Assets/Audios/Musics/Lonesome Traveller.wav
ColorLine/x64/Debug/Assets/Audios/SFXs/Retro Blop 18.wav
ColorLine/x64/Debug/Assets/Fonts/Minecraft.ttf
ColorLine/x64/Debug/Assets/Sprites/Clock_Orange.png
ColorLine/x64/Debug/Assets/Sprites/ColorLine Game UI.png
ColorLine/x64/Debug/Assets/Sprites/HomeButton.png
ColorLine/x64/Debug/Assets/Sprites/menuBg.png
ColorLine/x64/Debug/Assets/Sprites/RestartButton.png
ColorLine/x64/Debug/Assets/Sprites/whitePixel.png
ColorLine/x64/Debug/CustomWindow.obj
ColorLine/x64/Debug/GameTimer.obj
ColorLine/x64/Debug/LabelAndTextWindow.obj
ColorLine/x64/Debug/SDL2_mixer.dll
ColorLine/x64/Debug/WinLoseWindow.obj
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/5e4288af1a3fe4ae/GAMESAVE.ipch
ColorLine/x64/Debug/GameSave.obj
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/2c6ee0840dba6f19/MENUBUTTONS.ipch
ColorLine/x64/Debug/MenuButtons.obj
ColorLine/x64/Debug/CharC_Logo.obj
ColorLine/.vs/ColorLine/v16/ipch/AutoPCH/a6ce2759166738a8/CHARC_LOGO.ipch
